.modal-background {
 width:100vw;
 height:100vh;
 position:fixed;
 justify-content: center;
 align-items: center;
 display:flex;
 color:white; 
 z-index: 10;

 .modal-container {
    width:300px;
    height:200px;
    border-radius:12px;
    background-color: #282a2c;
    display:flex;
    flex-direction: column;
    padding:25px;
}
}


