.modal-background {
 width:100vw;
 height:100vh;
 position:fixed;
 justify-content: center;
 align-items: center;
 display:flex;
 color:white;
 background-color: rgba(0, 0, 0, 0.5);
 z-index: 10;

   .modal-container {
      width:30vw;
      height:40vh;
      border-radius:12px;
      background-color: #282a2c;
      display:flex;
      flex-direction: column;
      padding:10px;

     input {
       padding:10px;
       max-width: 300px;
     }

     .submit-btn {
       background-color:#6EBAF2;
       max-width:300px;
       border-radius:5px;
       padding:10px;
       color:white;
       cursor:pointer
     }

     .login-container {
       display:flex;
       flex-direction:column;
       justify-content:center;
       padding:0 20px;
       height:30vh;
       gap:4vh;
     }
  }
}

@media(width < 900px) {
  .modal-container {
    width:60vw !important;
  }
}


