.card-list {
    display:flex;
    flex-direction: row;
    gap:20px;
    justify-content: center;
    background-color: #2d3033;
    padding-top: 50px;
    padding-bottom: 50px;

    a {
        color:white
    }

   
}

.card {
    color:white;
    border: 1px solid black;
    text-align: center;
    background-color: black;
    box-sizing: border-box;
    overflow: hidden;
    width:300px;
    


    img {
        object-fit: cover;
        width:300px;
        overflow:hidden;
    }

}

.card:hover{
  transform: scale(1.1);
}