.card-list {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:8vw;
    justify-content: center;
    background-color: #2d3033;
    padding-top: 5vh;
    padding-bottom: 5vh;

    a {
        color:white
    }

   
}

.card {
    color:white;
    border: 1px solid black;
    text-align: center;
    background-color: black;
    box-sizing: border-box;
    overflow: hidden;
    width:300px;

    .card-text {
        padding-bottom: 2vh;
    }
    


    img {
        object-fit: cover;
        width:300px;
        overflow:hidden;
    }

}

.card:hover{
  transform: scale(1.1);
}