.disney-plus-section{
    background-color: #152238;
    color:white;
    padding: 2vh 0vh 2vh 0vh;
    

    h1 {
        text-align: center;
        margin-bottom: 5vh;
    }

.disney-plus-trending-container {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:5vw;
    flex-wrap: wrap;
    // margin-left:10vw;
    // margin-right:10vw;
    // margin-left:5vw;
    

    .card-container { 
        justify-content: center;
        
    
        .disney-plus-trending-text-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            
    
            a {
                text-decoration: underline;
            }

        }
    }
    
    
    
}
}