@media (min-width: 950px) {
    
    
    
    
    .background-image-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        margin-left: 10vw;

    
        .drstrange-logo {
            width:50%;
            opacity:0.8
        }
        
    
        
          
    }
    
    .background-image {
        height:60vh;
        display:flex;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin:0;
        padding:0;
    }

    .button {
        border-radius:40px;
        font-size:15px;
        color:white;
        width:240px;
        height:48px;
        font-weight:bold;
    }
    
    .get-tix-button {
        background-color:#AF2726;
        border:none;
        border-radius:40px;
        font-size:15px;
        color:white;
        width:240px;
        height:48px;
        font-weight:bold;
    
        
    }
    
    
    
    
}



@media (max-width:949px) {
    .background-image-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        // align-items: center;
        justify-content: center;
       
    
        .drstrange-logo {
            width:40%;
            opacity:0.8;
            margin-top:10vh;
            margin-left:5vw;
        }
        
    
        
          
    }
    
    .background-image {
        height:35vh;
        display:flex;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin:0;
        padding:0;
    }

    .button {
        border-radius:40px;
        font-size:15px;
        color:white;
        width:140px;
        height:40px;
        font-weight:bold;
        margin-left: 20px;
    }
    
    .get-tix-button {
        background-color:#AF2726;
        border:none;
        border-radius:40px;
        font-size:15px;
        color:white;
        width:140px;
        height:40px;
        font-weight:bold;
        margin-left: 20px;
        
    }

    
}


.get-tix-button:hover {
    background-color: #c72c2c;
}



 
